<app-nav-menu-salesman></app-nav-menu-salesman>
<div class="container">

  <div class="grid-container">
    <div class="grid-item"> <h1 align="center"> Opret Forsendelse</h1></div>
  </div>

  <div class="container">
    <div class="row">
      <div class="row">
      </div>
      <h3 align="left"> Udfyld pakke information </h3>

   
    </div>


    <form>
      <div class="row">
        <div class="col">
          Vægt:
        </div>
        <div class="col">
          <input type="number" #weigth min="0" max="40">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
        <div class="col">
        </div>
      </div>
    </form>

    <div class="container">
      <div class="row">
        <div class="col">
          Special leverance:
        </div>
      </div>
      <div>
        <div class="col">
          <input type="checkbox" id="recodedDeliveryCheckbox"> Rekommenderet
        </div>

        <div class="col">
          <input type="checkbox" id="FragileCheckbox"> Skrøbelig
        </div>
        <div class="col">
          <input type="checkbox" id="frozenCheckbox"> Frys
        </div>
        <div class="col">
          <input type="checkbox" id="animalCheckbox"> Dyr
        </div>
      </div>
    </div>
    </div>

  <div class="container">
    <form [formGroup]="form" (ngSubmit)="submit()">

      <div class="form-group">
        <label for="city">Fra by:</label>
        <select ng-model="cities" formControlName="city" name="options" required>
          <option *ngFor="let city of cities" [ngValue]="city"></option>
        </select>
        <label for="city">Til by:</label>
        <select ng-model="cities" formControlName="city" name="options" required>
          <option *ngFor="let city of cities" [ngValue]="city"></option>
        </select>

      </div>
    </form>
  </div>
  <div>
    <button (click)="showRoutes"> Vis ruter </button>

  
  </div>
</div>
