<app-nav-menu-driver></app-nav-menu-driver>



  <li class="table">
    <thead class="thead">
      <tr onclick="displayRuteDetails(delivery)">
        <th class="th">Chauffør Id</th>
        <th class="th">Start by</th>
        <th class="th">Destinations by</th>
        <th class="th">Tidsestimate</th>
      </tr>
    </thead>
    <tbody class="tbod">
      <tr class="tr" *ngFor="let delivery of deliveries">
        <td class="td">  {{delivery.driverId}}  </td>
        <td class="td">  {{delivery.startCity.cityName}}  </td>
        <td class="td">  {{delivery.endCity.cityName}}  </td>
        <td class="td">  {{delivery.approvedRoute.time}} timer </td>
      </tr>
    </tbody>
  </li>




<app-driver-route-details></app-driver-route-details>



